include layouts/head
include layouts/header

body
    img(src="images/logo.png" width='100px' height='100px')
    h1 Welcome to Matcha!

    div
        p To start matcha, please fill the form:
        form(method='post' action='register/registeruser')
            label(for='username') Your Username:
            input(type='text' name='username' id='username')
            label(for='password') Your password
            input(type='password' name='password' id='password')
            button(type='submit') Register in Matcha
include layouts/footer